PORT=8085

# MySQL / TiDB Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sutharsan
DB_NAME=foodie_db
DB_SSL=false

# Google OAuth Client ID
GOOGLE_CLIENT_ID=393841138681-846rkeig2b9ea1f04os0dtglmdjfhgt5.apps.googleusercontent.com
